---
---

@import "{{ site.theme }}";

body {
  background: black;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: #597a7a;
}

a {
  color: #597a7a;
  font-weight: bold;
}

a:hover, a:focus {
  color: #597a7a;
  text-decoration:underline;
}

hr {
  background: #f5821f;
}

section {
    border:1px solid #f5821f;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
    width:auto;
    float:none;
}

small {
  color:gray
}

header,footer {
  width:auto;
  float:none;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}
