---
---

@import "{{ site.theme }}";

body {
  background: black;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: #597a7a;
}

a {
  color: #597a7a;
  font-weight: bold;
}

a:hover, a:focus {
  color: #597a7a;
  text-decoration:underline;
}

hr {
  background: #f5821f;
}

section {
    border:1px solid #f5821f;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
}

small {
  color:gray
}

header,footer,section {
	width:auto;
	float:none;
	position:static;
	padding-right:0;
	-webkit-font-smoothing:subpixel-antialiased;
}

.wrapper {
	width:auto;
	max-width:600px;
	margin:0 auto;
}

@media print, screen and (max-width: 960px) {

	div.wrapper {
		width:auto;
		max-width:600px;
		margin:0 auto;
	}
}

header::before {
	content: url("/assets/images/nihonturismo.svg");
	display: inline-block;
	position: relative;
	width: 100%;
	top:0px;
}
