---
---

@import "{{ site.theme }}";

body {
  background: black;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: #597a7a;
}

a {
  color: #597a7a
}

a:hover, a:focus {
  color: #597a7a
  font-weight: bold;
}

hr {
  background: #f5821f
}
